@import "tailwindcss";


@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
}

@layer utilities {
  .animated-gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1CD8D2);
    background-size: 400% 400%;
    animation: gradientShift 12s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
